@import "tailwindcss";

@theme {
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --font-main: "Roboto Serif";
  --font-secondary: "DM Sans";
  --color-main: #64CCC5;
}